<!doctype HTML>

<link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One|Ubuntu:400' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/main.css">

<header>
    <h1><a href="/">Frank.en</a></h1>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/shop">Shop</a>
            </li>
        </ul>
    </nav>
</header>

<div class="main">
    <img src="/image/foot.jpg" class="cover-background">
    <section class="cover">
        <div class="vcenter">
            <h2 class="strapline center">
                The Foot.  Redefined.
            </h2>

            <div class="center">
                <button>Buy Now</button>
            </div>
        </div>
    </section>
</div>

<footer class="main">
    <div>
        Investors<br>
        We're Hiring
    </div>
    <div>
        Email us: <a href="mailto:hello@frank.en">hello@frank.en</a><br>
        Call us:  <a href="tel:+18583673232">+1 (858) 367-3232</a><br>
        &copy; 2015 Frank.in<br>
        Terms of Service <br>
        Privacy Policy <br>

    </div>
</footer>
